html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

h1 {
    font-family: Josefin Sans;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 50px;
}

h3 {
    font-family: Josefin Sans;
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

p {
    font-family: Josefin Sans;
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

blockquote {
    font-family: Josefin Sans;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

pre {
    font-family: Josefin Sans;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}